body {
  text-align: center;
  background: linear-gradient(
rgba(5, 144, 243, 0.1),
rgba(6, 137, 237, 0.1)), 
url('https://img.freepik.com/premium-vector/lines-art-abstract-color-shoes-sneakers-logo-design-vector-icon-symbol-illustration_629573-334.jpg?w=2000');
height: 125vh;
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: rgb(168, 211, 216);
}

.sneaker-card {
width: 40rem;
border: grey solid 1px;
display: inline-block;
margin: 1rem;
}

.sneaker-pic {
justify-self: center;
height: 18rem;
width: auto;
}

h1 {
font-family: cursive;
color: red;


}

h2 {
font-family: cursive;
color: green;

}
