body {
    text-align: center;
}

.sneaker-card {
  width: 40rem;
  border: grey solid 1px;
  display: inline-block;
  margin: 1rem;
}

.sneaker-pic {
  justify-self: center;
  height: 18rem;
  width: auto;
}